{{ stockObj?.b_info_code }}

<mat-form-field>
  <mat-label>組別</mat-label>
  <mat-select [(value)]="selected_ByGroupMenu" (valueChange)="change_ByGroupMenu($event)">
    @for (food of groupMenu; track food) {
    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-label>主圖圖表</mat-label>
  <mat-select [(value)]="selected_ByMainChartMenu" (valueChange)="change_ByMainChartMenu($event)">
    @for (food of mainChartMenu; track food) {
    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<!-- 在範本中顯示圖表：在 app.component.html 中使用 highcharts-chart 元件，
  並指定 constructorType 為 'stockChart' 以確保正確渲染帶有 rangeSelector 的股票圖表。
-->
<highcharts-chart [Highcharts]="Highcharts" [constructorType]="'stockChart'" [options]="chartOptions"
  style="width: 100%; height: 95%; display: block;"></highcharts-chart>
