<button [disabled]="allowNewServer">添加服務</button>
<button disabled={{allowNewServer}}>添加服務</button>

<!-- 不同綁定，但效果相同 -->
<p>插值表達式：{{allowNewServer}}</p>
<img src="{{imgUrl}}"><br>
屬性綁定模式<p [innerText]="allowNewServer"></p>
<img [src]="imgUrl"><br>

serverCreationStatus = {{serverCreationStatus}}<br>
<button (click)="onCreateServer()">添加服務</button><br>

<!-- 單向綁定 -->
修改ServerName：
<input type="text" (input)="onUpdateServerName($event)" />
<p>{{serverName}}</p>

<!-- 雙向綁定 -->
<input type="text" [(ngModel)]="serverName" />


<!-- 判斷指令 -->
<p *ngIf="serverCreated;else noServer">服務已經創建，服務名稱為：{{serverName}}</p>
<ng-template #noServer>
  <p>服務沒有創建</p>
</ng-template>


<!-- <app-server></app-server>
<app-server></app-server> -->
<!-- <app-server *ngFor="let server of servers"></app-server> -->
<app-server *ngFor="let server of servers; let i = index" [ngStyle]="{color: i>=2 ? 'blue' :'green'}"></app-server>
