.highlight {
  color: #17a2b8;
}

.highlight_up {
  background-color: rgba(255, 0, 0, 0.056);
}

.highlight_down {
  background-color: rgba(0, 255, 0, 0.056);
}

.hl_eps_1 {
  background-color: rgba(0, 255, 0, 0.056);
}

.hl_eps_2 {
  background-color: rgba(0, 255, 0, 0.1);
}

.hl_eps_3 {
  background-color: rgba(0, 255, 0, 0.5);
}

.hl_eps_4 {
  background-color: rgba(10, 197, 10, 0.5);
}

.hl_eps_5 {
  background-color: rgba(10, 197, 10, 0.7);
}

// mat-form-field {
//   width: 100%;
//   margin-bottom: 20px;
// }

//#region === === 凍結欄位 Start === ===
.mat-table-container {
  overflow: auto;
  max-height: 400px;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: #f7dea7;
  // background: #fff;
  z-index: 2;
}

.sticky-column {
  position: sticky;
  left: 0;
  background: #d4d6fa;
  // background: #fff;
  z-index: 1;
}

/* 避免固定列和行之間的邊框重疊 */
.sticky-header.sticky-column {
  z-index: 2;
}

//#endregion --- --- 凍結欄位 End --- ---



.chart-container {
  right: 0;
  top: 0;
  width: 87%;
  height: 100%;
  z-index: 10;
  background: rgba(209, 236, 241, 0.5);
  /*#D1ECF1;*/
  position: absolute;
}
