<mat-form-field appearance="fill">
  <mat-label>全域搜尋</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="0050">
</mat-form-field>

<mat-form-field>
  <mat-label>基本面</mat-label>
  <mat-select [(value)]="selected" (valueChange)="changeDisplayedColumns($event)">
    @for (menu of menu_items_basic; track menu) {
    <mat-option [value]="menu.value">{{menu.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>交易狀況</mat-label>
  <mat-select [(value)]="selected" (valueChange)="changeDisplayedColumns($event)">
    @for (menu of menu_items_transaction; track menu) {
    <mat-option [value]="menu.value">{{menu.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- 🏢公司基本資料 Start -------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky-column">
      <b>代號</b>
    </th>
    <td mat-cell *matCellDef="let element" class="sticky-column"> <a target="_blank"
        href="https://histock.tw/stock/{{element.b_info_code}}">{{element.b_info_code}}</a> </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky-column">
      <b>名稱</b>
    </th>
    <td mat-cell *matCellDef="let element" class="sticky-column"> <a target="_blank"
        href="https://www.cmoney.tw/follow/channel/stock-{{element.b_info_code}}">{{element.b_info_name}}</a> </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_market">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>市場</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_market}} </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>日期</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_date}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>成交價</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{color: element.b_info_pct>=0 ? 'red' :'green'}">
      {{element.b_info_price}} </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_change">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>漲跌價</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{color: element.b_info_pct>=0 ? 'red' :'green'}">
      {{element.b_info_change}}
    </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_pct">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>漲跌幅</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{color: element.b_info_pct>=0 ? 'red' :'green'}">
      {{element.b_info_pct}} </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_face">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>面值(元)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_face}} </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_capital">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>股本(億)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_capital}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>發行量(萬張)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_count}} </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_market_cap">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>市值(億)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_market_cap}} </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_up_year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>成立年數</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_up_year}} </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_market_year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>上市年數</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_more_than(10, element.b_info_market_year)}">
      {{element.b_info_market_year}}
    </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_futures">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>股票期貨</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_futures}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_options">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>選擇權</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_options}} </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_Warrant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>權證</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_Warrant}} </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_debt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>公司債</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_debt}} </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_private">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>私募股</b>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.b_info_private}}
    </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_special">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>特別股</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_special}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_verticals">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>產業別</b>
    </th>
    <td mat-cell *matCellDef="let element"> <a target="_blank"
        href="https://stock.cnyes.com/market/TWS:{{element.b_info_code}}:STOCK">{{element.b_info_verticals}}</a> </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_chairman">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>董事長</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_chairman}} </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_manager">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>總經理</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_manager}} </td>
  </ng-container>
  <!-- 🏢公司基本資料 End ---------------------------------------------------- -->

  <!-- 📈我的基本面 Start ---------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container *ngFor="let col of columnStr_m_basic let idx=index" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>{{col.value}}</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
  </ng-container>

  <ng-container matColumnDef="m_basic_epsp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>EPS估價</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_less_than(element.m_basic_epsp, element.b_info_price)}">
      {{element.m_basic_epsp}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_yiep">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>股價淨值比</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_less_than(element.m_basic_yiep, element.b_info_price)}">
      {{element.m_basic_yiep}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_tper">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>總報酬本益比</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight_more_than(1, element.m_basic_tper)}">
      {{element.m_basic_tper}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_cheap">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>便宜度</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight_more_than(1, element.m_basic_cheap)}">
      {{element.m_basic_cheap}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_kp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>ROE估價</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_less_than(element.m_basic_kp, element.b_info_price)}">
      {{element.m_basic_kp}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_pbr">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>股價淨值比</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(0,1, element.m_basic_pbr)}">
      {{element.m_basic_pbr}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_peg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>PEG</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(0,999, element.m_basic_peg)}">
      {{element.m_basic_peg}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_cash_y">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>現金殖利率</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(5,999, element.m_basic_cash_y)}">
      <b>{{element.m_basic_cash_y}}</b>
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic_roe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>平均ROE (>8%)</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(8,999, element.m_basic_roe)}">
      {{element.m_basic_roe}}
    </td>
  </ng-container>
  <!-- 📈我的基本面 End ------------------------------------------------------ -->

  <!-- 🐟股魚基本面  Start --------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container *ngFor="let col of columnStr_e_fish let idx=index" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>{{col.value}}</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
  </ng-container>
  <!-- 1. Column -->
  <ng-container matColumnDef="e_fish_roe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>平均ROE (>8%)</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight_more_than(8, element.e_fish_roe)}">
      {{element.e_fish_roe}}
    </td>
  </ng-container>
  <!-- 2. Column -->
  <ng-container matColumnDef="e_fish_iir">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>本業收入率 (>80%)</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight_more_than(80, element.e_fish_iir)}">
      {{element.e_fish_iir}}
    </td>
  </ng-container>
  <!-- 3. Column -->
  <ng-container matColumnDef="e_fish_debt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>平均負債總額 (<60%) </b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight_less_than(60, element.e_fish_debt)}">
      {{element.e_fish_debt}}
    </td>
  </ng-container>
  <!-- 4. Column -->
  <ng-container matColumnDef="e_fish_cash">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>營運現金流量 (>0億)</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight_more_than(0, element.e_fish_cash)}">
      {{element.e_fish_cash}}
    </td>
  </ng-container>
  <!-- 4. Column -->
  <ng-container matColumnDef="e_fish_opm">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>營益率 (>0%)</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight_more_than(0, element.e_fish_opm)}">
      {{element.e_fish_opm}}
    </td>
  </ng-container>
  <!-- 🐟股魚基本面  End ----------------------------------------------------- -->

  <!-- 💰交易狀況_近12日漲跌幅  Start -------------------------------------------->
  <!-- 1. Column -->
  <ng-container *ngFor="let col of columnStr_p_dpct let idx=index" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>{{col.value}}</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
  </ng-container>
  <!-- 💰交易狀況_近12日漲跌幅  End ---------------------------------------------->

  <!-- 💹EPS成長  Start ----------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container *ngFor="let col of columnStr_e_icr let idx=index" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>{{col.value}}</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
  </ng-container>
  <!-- 1. Column -->
  <ng-container matColumnDef="e_icr_ytotalCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>12年總評分</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_more_than(10, element.e_icr_ytotalCount)}">
      <b>{{element.e_icr_ytotalCount}}</b>
    </td>
  </ng-container>
  <!-- 2. Column -->
  <ng-container matColumnDef="e_icr_totalCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>近期總評分</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_more_than(13, element.e_icr_totalCount)}">
      <b>{{element.e_icr_totalCount}}</b>
    </td>
  </ng-container>
  <!-- 💹EPS成長  End ------------------------------------------------------- -->

  <!-- 💷我的EPS  Start ----------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container *ngFor="let col of columnStr_m_eps let idx=index" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>{{col.value}}</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'hl_eps_2': hl_my_eps(element[col.key])==2, 
      'hl_eps_3': hl_my_eps(element[col.key])==3,
      'hl_eps_4': hl_my_eps(element[col.key])==4,
      'hl_eps_5': hl_my_eps(element[col.key])==5}">
      {{element[col.key]}} </td>
  </ng-container>
  <!-- 💷我的EPS  End ------------------------------------------------------- -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'highlight_up': isHighlighted(row)==1, 'highlight_down': isHighlighted(row)==-1}"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>

<button mat-button (click)="selectedRows = getSelectedRows()">Show Selected Rows</button>
<div *ngIf="selectedRows && selectedRows.length">
  <h3>Selected Rows:</h3>
  <ul>
    <li *ngFor="let row of selectedRows">
      {{ row.b_info_code }} - {{ row.b_info_name }} - {{ row.b_info_price }} - {{ row.b_info_change }}
    </li>
  </ul>
</div>
