<mat-form-field>
  <mat-label>視角</mat-label>
  <mat-select [(value)]="selected" (valueChange)="changeDisplayedColumns($event)">
    @for (food of foods; track food) {
    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">

  <!-- 🏢公司基本資料 Start -------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by code">
      <b>代號</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_code}} </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      <b>名稱</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_name}} </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_market">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by market">
      <b>市場</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_market}} </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      <b>日期</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_date}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      <b>成交價</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{color: element.b_info_pct>=0 ? 'red' :'green'}">
      {{element.b_info_price}} </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_change">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by change">
      <b>漲跌價</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{color: element.b_info_pct>=0 ? 'red' :'green'}">
      {{element.b_info_change}}
    </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_pct">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pct">
      <b>漲跌幅</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{color: element.b_info_pct>=0 ? 'red' :'green'}">
      {{element.b_info_pct}} </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_face">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by face">
      <b>面值(元)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_face}} </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_capital">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by capital">
      <b>股本(億)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_capital}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by count">
      <b>發行量(萬張)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_count}} </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_market_cap">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by market_cap">
      <b>市值(億)</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_market_cap}} </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_up_year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by up_year">
      <b>成立年數</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_up_year}} </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_market_year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by market_year">
      <b>上市年數</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_more_than(10, element.b_info_market_year)}">
      {{element.b_info_market_year}}
    </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_futures">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by futures">
      <b>股票期貨</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_futures}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_options">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by options">
      <b>選擇權</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_options}} </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_Warrant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Warrant">
      <b>權證</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_Warrant}} </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_debt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by debt">
      <b>公司債</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_debt}} </td>
  </ng-container>

  <!-- 3. Column -->
  <ng-container matColumnDef="b_info_private">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by private">
      <b>私募股</b>
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.b_info_private}}
    </td>
  </ng-container>

  <!-- 4. Column -->
  <ng-container matColumnDef="b_info_special">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by special">
      <b>特別股</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_special}} </td>
  </ng-container>

  <!-- 5. Column -->
  <ng-container matColumnDef="b_info_verticals">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by verticals">
      <b>產業別</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_verticals}} </td>
  </ng-container>

  <!-- 1. Column -->
  <ng-container matColumnDef="b_info_chairman">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by chairman">
      <b>董事長</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_chairman}} </td>
  </ng-container>

  <!-- 2. Column -->
  <ng-container matColumnDef="b_info_manager">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by manager">
      <b>總經理</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.b_info_manager}} </td>
  </ng-container>
  <!-- 🏢公司基本資料 End ---------------------------------------------------- -->

  <!-- 📈我的基本面 Start ---------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container *ngFor="let col of columnStr_m_basic let idx=index" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>{{col.value}}</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
  </ng-container>

  <ng-container matColumnDef="m_basic.epsp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by epsp">
      <b>EPS估價</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_less_than(element.m_basic.epsp, element.b_info_price)}">
      {{element.m_basic.epsp}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic.yiep">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by yiep">
      <b>股價淨值比</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_less_than(element.m_basic.yiep, element.b_info_price)}">
      {{element.m_basic.yiep}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic.kp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by kp">
      <b>ROE估價</b>
    </th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'highlight': isHighlight_less_than(element.m_basic.kp, element.b_info_price)}">
      {{element.m_basic.kp}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic.pbr">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pbr">
      <b>股價淨值比</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(0,1, element.m_basic.pbr)}">
      {{element.m_basic.pbr}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic.peg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by peg">
      <b>PEG</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(0,999, element.m_basic.peg)}">
      {{element.m_basic.peg}}
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic.cash_y">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cash_y">
      <b>現金殖利率</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(5,999, element.m_basic.cash_y)}">
      <b>{{element.m_basic.cash_y}}</b>
    </td>
  </ng-container>
  <ng-container matColumnDef="m_basic.roe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by roe">
      <b>平均ROE(>8%)</b>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isHighlight(8,999, element.m_basic.roe)}">
      {{element.m_basic.roe}}
    </td>
  </ng-container>
  <!-- 📈我的基本面 End ------------------------------------------------------ -->

  <!-- 📈股魚 Start --------------------------------------------------------- -->
  <!-- 1. Column -->
  <ng-container *ngFor="let col of columnStr_e_fish let idx=index" [matColumnDef]="col.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>{{col.value}}</b>
    </th>
    <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
  </ng-container>
  <!-- 📈股魚 End ----------------------------------------------------------- -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
