.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    // height: 100%;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.example-sidenav {
    max-width: 400px;
    /* 設置最大寬度 */
}

//#region === === 基本快選 === === === === === === === === === === === === === ===
/* 自定義 button-toggle-group 的樣式 */
.button-toggle-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* 可選：設置按鈕之間的間距 */
}

/* 設置每個 mat-button-toggle 的樣式 */
mat-button-toggle {
    flex: 1 1 auto;
    /* 確保按鈕在換行時保持一致的寬度 */
    min-width: 60px;
    /* 調整按鈕的最小寬度 */
    // margin: 4px;
    // /* 調整按鈕的外邊距 */
    // margin-bottom: 10px;
    // /* 可選：設置每個按鈕底部的間距，防止太過緊湊 */
}

mat-button-toggle-group {
    margin-left: 12px;
}

//#endregion --- --- 基本快選 --- --- --- --- --- --- --- --- --- --- --- --- ---
