<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">選股神器</h1>
    <!-- <button (click)="setChildDataFun()">調用子組件</button> -->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="example-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-form-field>
        <mat-label>產業別</mat-label>
        <mat-select [(ngModel)]="selected_ByIndustrys" (valueChange)="change_ByIndustrys($event)" multiple>
          @for (pickMethod of pickIndustrys; track pickMethod) {
          <mat-option [value]=" pickMethod.value">{{pickMethod.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- {{selected_ByIndustrys}} -->
      <button mat-icon-button extended (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <br>

      <mat-form-field>
        <mat-label>選股心法</mat-label>
        <mat-select [(value)]="selected_ByPickerMethods" (valueChange)="change_ByPickerMethods($event)">
          @for (pickMethod of pickMethods; track pickMethod) {
          <mat-option [value]="pickMethod.value">{{pickMethod.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br>
      <p style="color: #6644a0;">{{pickerMethodsDescription}}</p>

      <mat-tab-group>
        <mat-tab label="我的基本面(A2)">
          <button mat-button extended (click)="refresh_Basic()"> <mat-icon>cancel</mat-icon> 取消基本快選 </button>
          <br>
          <hr>

          <section>
            <mat-button-toggle-group class="button-toggle-group" [(ngModel)]="bFastPickerValues"
              hideMultipleSelectionIndicator=true multiple>
              <mat-button-toggle value="b_fast_picker_futures" (click)="change_XXX()">
                <mat-icon>paid</mat-icon> 期貨
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_growRateCnt" (click)="change_XXX()">
                <mat-icon>trending_up</mat-icon> 年複合成長率>0
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_turnoverCnt" (click)="change_XXX()">
                <mat-icon>currency_exchange</mat-icon> 週轉率>=1
              </mat-button-toggle>

              <mat-button-toggle value="b_fast_picker_cheapCnt1" (click)="change_XXX()">
                <mat-icon>shopping_cart</mat-icon> 便宜度1 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_cheapCnt2" (click)="change_XXX()">
                <mat-icon>shopping_cart</mat-icon> 2 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_cheapCnt3" (click)="change_XXX()">
                <mat-icon>shopping_cart</mat-icon> 3 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_cheapCnt4" (click)="change_XXX()">
                <mat-icon>shopping_cart</mat-icon> 4 </mat-button-toggle>

              <mat-button-toggle value="b_fast_picker_prange50" (click)="change_XXX()"> <mat-icon>expand</mat-icon>
                區間股價50 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_prange100" (click)="change_XXX()"> <mat-icon>expand</mat-icon> 100
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_prange150" (click)="change_XXX()"> <mat-icon>expand</mat-icon> 150
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_prange200" (click)="change_XXX()"> <mat-icon>expand</mat-icon> 200
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_prange300" (click)="change_XXX()"> <mat-icon>expand</mat-icon> 300
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_prange500" (click)="change_XXX()"> <mat-icon>expand</mat-icon> 500
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_prange1000" (click)="change_XXX()"> <mat-icon>expand</mat-icon>
                1000 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_prange9000" (click)="change_XXX()"> <mat-icon>expand</mat-icon>
                9000 </mat-button-toggle>
            </mat-button-toggle-group>
          </section>
          <!-- <p>Selected values: {{ bFastPickerValues }}</p> -->
        </mat-tab>


        <mat-tab label="我的籌碼面(A6)">
          <button mat-button extended (click)="refresh_Chip()"> <mat-icon>cancel</mat-icon> 取消籌碼快選 </button>
          <button mat-button extended (click)="trigger_retail()"> <mat-icon>tungsten</mat-icon> 散戶明燈 </button>
          <button mat-button extended (click)="trigger_tbuy()"> <mat-icon>savings</mat-icon> 投信半年持續買 </button>
          <button mat-button extended (click)="trigger_tod1()"> <mat-icon>account_balance_wallet</mat-icon> 投信忽然大買
          </button>
          <br>
          <hr>

          <section>
            <mat-button-toggle-group class="button-toggle-group" [(ngModel)]="bFastChipPickerValues"
              hideMultipleSelectionIndicator=true multiple>

              <mat-button-toggle value="b_fast_picker_chip_phigh240" (click)="change_XXX()">
                <mat-icon>trending_up</mat-icon> 股價創半年新高
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_retail" (click)="change_XXX()">
                <mat-icon>south</mat-icon> 散戶減少
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_big" (click)="change_XXX()">
                <mat-icon>north</mat-icon> 大戶增加
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_loan10" (click)="change_XXX()">
                <mat-icon>north</mat-icon> 10日融資減
              </mat-button-toggle>


              <mat-button-toggle value="b_fast_picker_chip_tbuy180_1" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 投信半年持續買 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tbuy180_2" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 2 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tbuy180_3" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 3 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tbuy180_4" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 4 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tbuy180_5" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 5 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tbuy180_6" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 6 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tbuy180_7" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 7 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tbuy180_8" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 8 </mat-button-toggle>


              <mat-button-toggle value="b_fast_picker_chip_tod1_1" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon>
                投本比0.x% </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_2" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 2
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_3" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 3
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_4" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 4
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_5" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 5
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_6" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 6
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_7" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 7
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_8" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 8
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_9" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon> 9
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_tod1_10" (click)="change_XXX()">
                <mat-icon>account_balance_wallet</mat-icon>
                10
              </mat-button-toggle>


              <mat-button-toggle value="b_fast_picker_chip_fbuy180_1" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 外資半年內買 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_fbuy180_2" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 2 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_fbuy180_3" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 3 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_fbuy180_4" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 4 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_fbuy180_5" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 5 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_fbuy180_6" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 6 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_fbuy180_7" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 7 </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_chip_fbuy180_8" (click)="change_XXX()">
                <mat-icon>savings</mat-icon> 8 </mat-button-toggle>

            </mat-button-toggle-group>

          </section>
          <!-- <p>Selected values: {{ bFastChipPickerValues }}</p> -->
        </mat-tab>


        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>


    </mat-sidenav>

    <mat-sidenav-content>
      <app-stock-table #stockTableChild></app-stock-table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
