<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">選股神器</h1>
    <!-- <button (click)="setChildDataFun()">調用子組件</button> -->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-form-field>
        <mat-label>產業別</mat-label>
        <mat-select [(ngModel)]="selected_ByIndustrys" (valueChange)="change_ByIndustrys($event)" multiple>
          @for (pickMethod of pickIndustrys; track pickMethod) {
          <mat-option [value]=" pickMethod.value">{{pickMethod.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- {{selected_ByIndustrys}} -->
      <button mat-icon-button extended (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <br>

      <mat-form-field>
        <mat-label>選股心法</mat-label>
        <mat-select [(value)]="selected_ByPickerMethods" (valueChange)="change_ByPickerMethods($event)">
          @for (pickMethod of pickMethods; track pickMethod) {
          <mat-option [value]="pickMethod.value">{{pickMethod.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-tab-group>
        <mat-tab label="我的基本面">
          <button mat-button extended> <mat-icon>cancel</mat-icon> 取消基本快選 </button>
          <br>

          <section>
            <mat-button-toggle-group [(ngModel)]="bFastPickerValues" hideMultipleSelectionIndicator=true multiple>
              <mat-button-toggle value="b_fast_picker_futures" (click)="change_XXX()">
                <mat-icon>paid</mat-icon>期貨
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_growRateCnt" (click)="change_XXX()">
                <mat-icon>trending_up</mat-icon> 年複合成長率>0
              </mat-button-toggle>
              <mat-button-toggle value="b_fast_picker_turnoverCnt" (click)="change_XXX()">
                <mat-icon>currency_exchange</mat-icon> 週轉率>=1
              </mat-button-toggle>
            </mat-button-toggle-group>
          </section>

          <section>
            <mat-button-toggle-group name=" ingredients" aria-label="Ingredients" hideMultipleSelectionIndicator=true
              multiple>
              <mat-button-toggle value="flour"> <mat-icon>shopping_cart</mat-icon> 便宜度1 </mat-button-toggle>
              <mat-button-toggle value="eggs"> <mat-icon>shopping_cart</mat-icon> 2 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>shopping_cart</mat-icon> 3 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>shopping_cart</mat-icon> 4 </mat-button-toggle>
            </mat-button-toggle-group>
          </section>

          <section>
            <mat-button-toggle-group name="ingredients" aria-label="Ingredients" hideMultipleSelectionIndicator=true
              multiple>
              <mat-button-toggle value="flour"> <mat-icon>expand</mat-icon> 區間股價50 </mat-button-toggle>
              <mat-button-toggle value="eggs"> <mat-icon>expand</mat-icon> 100 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>expand</mat-icon> 150 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>expand</mat-icon> 200 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>expand</mat-icon> 300 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>expand</mat-icon> 500 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>expand</mat-icon> 1000 </mat-button-toggle>
              <mat-button-toggle value="sugar"> <mat-icon>expand</mat-icon> 9000 </mat-button-toggle>
            </mat-button-toggle-group>
          </section>
          <p>Selected values: {{ bFastPickerValues }}</p>

        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>


    </mat-sidenav>

    <mat-sidenav-content>
      <app-stock-table #stockTableChild></app-stock-table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
